debug=true

database_url=postgresql+asyncpg://tgbot_user:strong_password@postgres:5432/tgbot_db
redis_url=redis://redis:6379
bot_token=YOUR_BOT_TOKEN
owner_ids=[12345678]

support_link=https://t.me/username

channel_id=-100123456789
subscription_price=1234
subscription_days=30

prodamus_domain=yourshop.payform.ru
prodamus_secret_key=YOUR_PRODAMUS_SECRET

webhook_host=https://yourdomain.com
webhook_port=8080
